/* ! */
.footer-instagram svg stop {
  transition: var(--animation);
}
.footer-instagram svg.linear-gradient path {
  fill: url(#linearGradient-1);
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(1) {
  stop-color: #405de6;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(2) {
  stop-color: #5851db;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(3) {
  stop-color: #c13584;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(4) {
  stop-color: #fd1d1d;
}
/* ! */
